<div id="update-channel-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>チャンネル変更</h5>
      <img class="modal-gif">
      <span class="modalClose" id="update-page-close-btn">×</span>
    </div>
    <form class="modal-body" id="updateForm" method="POST">
      <input
        type="text"
        placeholder="チャンネル名"
        class="channel-form-input"
        name="channelName"
        id="channelName"
      />
      <input
        type="text"
        placeholder="チャンネルの説明"
        class="channel-form-input"
        name="channelDescription"
      />
      <input
        type="hidden"
        name='channelId'
        value='{{ channel.CHANNEL_ID }}'
      />
      <button onclick="return btnUpdate()">変更</button>
    </form>
  </div>
</div>