.agreement {
  text-align: center;
}

.agreement img {
  margin-top: 10px;
  width: 80%;
}

.checkbox{
  transform: scale(2);
}

.checkbox-label{
  margin-left: 10px;
  vertical-align: -5px;
  font-size: 32px;
  font-weight: bold;
}

.checkbox-button {
  transform: scale(1.5);
  margin-left: 30px;
  vertical-align: 2px;
  font-weight: bold;
}