/* ヘッダー */

.message-header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  box-shadow: 0 10px 10px var(--color_secondary);
}

.message-header-center {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 100px);
}

.channel-info-item {
  display: inline-block;
  margin-left: 30px;
  line-height: 80px;
  font-size: 20px;
  color: white;
}

.channel-operater button {
  width: 50px;
  height: 40px;
  margin: 20px 30px 20px 0;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.channel-operater button:hover {
  background-color: #808080;
}

/* メッセージの表示 */

.message-wrapper {
  padding: 94px 0 125px 0;
}

.display-message-area {
  padding: 0 15px;
}

.box {
  padding: 10px;
  border-radius: 10px;
}

.my-messages {
  width: 45%;
  margin: 0 0 0 auto;
}

.box-right {
  margin-bottom: 4px;
  text-align: right;
  background-color: #f8e58c;
}

.delete-message-btn {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border: 2px solid #DAA520;
  margin-left: 92%;
}

.other-messages {
  width: 45%;
  margin: 0 auto 0 0;
}

.other-messages .user-name {
  margin: 16px 0 0 7px ;
}

.other-messages .box-left {
  margin-top: 4px;
  color: white;
  background-color: var(--color_primary);
}

/* メッセージの送信 */

.post-message-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 105px;

  background-color: #f8e58c;
}

.post-message-wrapper-top {
  height: 5px;
  background-color: #DAA520;
}

.typing-box {
  display: flex;
}

.typing-box img {
  margin: 20px 0;
  height: 60px;
}

.typing-message-area textarea {
  width: 950px;
  height: 60px;
  margin: 17px 0;
  padding: 8px 8px 0 8px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
}

.typing-message-area textarea:focus {
  border: 2px solid #DAA520;
  outline: none;
}

.typing-box button {
  width: 60px;
  height: 60px;
  margin: 20px;
  border-radius: 30px;
  border: 2px solid #DAA520;
}

.typing-box .send-message {
  font-size: 35px;
}