.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 40px;
}

.pagination li {
  border: 1px solid var(--color_secondary);
  border-right: none;
}

.pagination .next, .pagination .first, .pagination .last, .pagination .pageNumbers{
  border-right: 1px solid var(--color_secondary);
}

.pagination .first {
  margin-right: 10px;
}

.pagination .last {
  margin-left: 10px;
}

.pagination .pageNumbers {
  margin-left: 20px;
}

.pagination a {
  display: block;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  color: var(--color_secondary);
}

.pagination a:hover {
  color: white;
  background-color: var(--color_primary_alpha);
}

.active a {
  color: white;
  background-color: var(--color_primary);
}

.pagination .pageNumbers a:hover {
  color: var(--color_secondary);
  background-color: white;
}