/* タイトル */

.registration-top {
  font-size: 30px;
}

.registration-top h1 {
  text-align: center;
  margin: 20px 0;
}

.registration-top h1 .MO {
  color: var(--color_secondary);
}

.registration-top h1 .SS {
  color: var(--color_primary);
}

/* 入力フォーム */

.registration-content {
  display: flex;
  justify-content: space-between;
}

.registration-left {
  width: 358px;
}

.registration-left.signup img {
  margin: 50px 54px 0 54px;
  width: 250px;
}

.registration-left.login img {
  margin: 30px 89px 0 89px;
  width: 180px;
}

.registration-form {
  width: 358px;
}

.registration-form h2 {
  margin: 0;
  text-align: center;
  font-size: 35px;
}

.registration-form p {
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: bold;
}

.registration-form input {
  width: 350px;
  height: 30px;
  font-size: 17px;
  border: 2px solid var(--color_secondary);
}

.registration-form input:focus {
  border: 2px solid var(--color_primary);
  outline: 0;
}

.registration-form button {
  display: block;
  width: 358px;
  height: 40px;
  padding: 0;
  margin: 40px 0 10px 0;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: var(--color_secondary);
}

.registration-switch {
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.display-feedback.signup {
  height: 250px;
}

.display-feedback.login {
  height: 100px;
}

.registration-message{
  padding-top: 80px;
  width: 358px;
  color: #ff0000;
  font-weight: bold;
}

.feedback {
  padding: 0 10px;
  background-color: #fff;
  border: dashed #ff0000;
}

.registration-message img {
  width: 150px;
}

.registration-footprint {
  display: flex;
  justify-content: space-around;
}