{% extends 'base.html' %}
{% block title %}
  <title>chatroom</title>
{% endblock %}
{% block body %}
  <div class="main-container">
    <div class="chat-box">
      <div id="chat-header">
        <!--Flaskでヘッダーにチャンネル名を表示-->
        <p id="chatroom-name">{{ channel.CHANNEL_NAME }}</p>
      </div>
      <!--戻るボタンの配置-->
      <div>
        <button><a href="{{ url_for('index') }}">戻る</a></button>
      </div>
      <!--ここからチャットエリア-->
      <div id="message-area">
        <!--pythonのif文とfor文を使用し、メッセージのエラーをチェックする-->
        {% if messages | length > 0 %}
          {% for message in messages %}
            {% if message.USER_ID == userId %}
              <div class="my-messages">
                <p class="box box-right">{{ message.MESSAGE }}</p>
                <form action="/delete_message" method="post">
                  <input type="hidden" value="{{ channel.CHANNEL_ID }}" name="channelId" />
                  <button
                    class="delete-message-btn"
                    name="messageId"
                    value="{{ message.MESSAGE_ID }}"
                  >削除</button>
                </form>
              </div>
            {% else %}
              <!--DBからメッセージを取得しチャットに表示する-->
              <div class="messages">
                <p class="user-name">{{ message.USER_NAME }}</p>
                <p class="box box-left">{{ message.MESSAGE }}</p>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <!--メッセージが入力されていなければ表示-->
          <div><p>まだメッセージがありません</p></div>
        {% endif %}
      </div>
      <!--入力したメッセージをPOSTで”/message"へ送信-->
      <div class="typing-box-wrapper">
        <form class="typing-box" action="/message" method="post" name="messageForm">
          <textarea name="message" id="message" autofocus></textarea>
          <input type="hidden" name="channelId" value="{{ channel.CHANNEL_ID }}">
          <button type="submit" id="add-message-btn" name="btn" onclick="return alertMessage()">投稿</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <!--pythonのFlaskからJSON形式でJSファイルに変数を渡す。
  テンプレートで使用しているJinja2の構文を利用。-->
  <script type="text/javascript">
    const channel = JSON.parse('{{ channel|tojson }}');
    const userId = JSON.parse('{{ userId|tojson }}');
  </script>
  <!--JSで画面がスクロールする-->
  <script
    src="{{url_for('static',filename='js/scroll-message.js')}}"
    type="text/javascript"
  ></script>
  <!-- 禁止ワード -->
  <script src="{{url_for('static',filename='js/alert-message.js')}}"></script>
{% endblock %}
