{% extends 'base.html' %}<!-- base.htmlを継承して利用する -->
{% block title %}
    <title>signup</title>
{% endblock %}
{% block body %}
<!--新規会員登録画面の作成-->
    <div class="signup">
        <h1>MOSS Chatへようこそ！</h1>
        <h2>新規会員登録はこちらから</h2>
        <h3>メールアドレスとパスワードを登録してください</h3>
        <!--POSTで/signupにユーザー情報を送信する-->
        <form method="post" action="/signup">
            <dl>    
                <dt>ユーザー名を登録してください</dt>
                    <dd><input type="text" name="userName"></dd>
                <dt>メールアドレスを入力してください</dt>
                    <dd><input type="text" name="email"></dd>
                <dt>パスワードを入力してください</dt>
                    <dd><input type="password" name="password"></dd>
                <dt>パスワードを再度入力してください</dt>
                    <dd><input type="password" name="confirmPassword"></dd>
            </dl>
            <button>会員登録</button>
        </form>
    </div>
    <!-- ユーザーが不適切な値を入力した時に、その理由を表示する -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}