{% extends 'base.html' %}
{% block title %}
  <title>signup</title>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="registration-top">
      <h1>Welcome to <span class="MO">MO</span><span class="SS">SS</span> Chat !!</h1>
    </div>
    <div class="registration-content">
      <div class="registration-left signup">
        <img src="static/img/registration-dog.jpg" alt="">
      </div>
      <div class="registration-form">
        <h2>SIGN UP</h2>
        <form method="post" action="/signup">
          <p>ユーザーネーム</p>
          <input type="text" value="{{ name }}" name="userName" autofocus>
          <p>メールアドレス</p>
          <input type="text" value="{{ email }}" name="email">
          <p>パスワード</p>
          <input type="password" placeholder="８文字以上（大文字・小文字・数字を含む）" name="password">
          <p>パスワード（確認）</p>
          <input type="password" placeholder="もう一度入力して下さい" name="confirmPassword">
          <button>SIGN UP</button>
        </form>
        <a class="registration-switch" href="{{ url_for('login') }}">LOG IN</a>
      </div>
      <div class="registration-message">
        <div class="display-feedback signup">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="feedback">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
        </div>
        <div class="registration-footprint">
          <img src="static/img/footprint-brown.jpg" alt="">
          <img src="static/img/footprint-red.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
{% endblock %}